
/* Import theme */

@import "WhiteSur/theme.css"; /**/

@import "customChrome.css"; /**/

.titlebar-buttonbox {
appearance: none !important;
margin-inline: 0 !important;
-moz-box-direction: reverse !important;
flex-direction: row-reverse !important;
}

